body {
    width: 100%;
    color: white;
    background-color: black;
}

.title {
    width: fit-content;
    font-size: 50px;
    font-family: Verdana, serif;
    font-weight: normal;
}

.mainContent {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

a {
    color: aquamarine;
}

a .downloadLink {
    font-size: 16px;
}