body {
    width: 100%;
    color: gray;
    background-color: black;
}

.title {
    width: fit-content;
    font-family: Verdana, serif;
    font-weight: normal;
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

.mainContent {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

a {
    color: aquamarine;
}

a .downloadLink {
    font-size: 16px;
}

p {
    color: gray;
    font-family: Verdana, serif;
    font-size: 21px;
}