body {
    color: gray;
    background-color: black;
    text-align: center;
    font-family: Verdana, serif;
}

.title {
    font-weight: normal;
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

a {
    color: aquamarine;
}

a .download-link {
    font-size: 16px;
}

p .normal-text{
    font-size: 21px;
}

.footer {
    text-align: right;
}